.board__title {
  font-weight: 700;
  margin: 30px;
  display: flex;
  justify-content: center;
}

.board__container {
  display: flex;
  justify-content: first baseline;
  width: 95%;
  margin: 0 auto;
  padding: 20px;
  min-height: 400px;
}

.board__card {
  margin: 10px 20px;
  padding: 10px;
  width: 300px;
  box-sizing: border-box;
  background: #fff;
}
.board__card > a {
  display: flex;
  justify-content: right;
  align-items: center;
}

.board__col {
  width: 450px;
  margin-right: 50px;
  margin-left: 20px;
  background: rgb(245, 219, 219);
  box-sizing: border-box;
}

.col__title {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  font-weight: 700;
}
.loaderWrapper {
  margin: 30px;
  display: flex;
  justify-content: center;
}

.user__avatar {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  text-align: center;
  margin: 15px 5px 10px 10px;
}
